@font-face {
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-family: mont;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-DM-Sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

body {
    background-color: #1B1B1B;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}


@media only screen and (min-width:1205px) {
    .header {
        position: fixed;
        background-color: #0075FF;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.3rem 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .header a {
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
    }

    .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .logo {
        font-size: 2em;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .navbar a {
        font-size: 1.15rem;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 2.5rem;
    }

    header a:hover {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    #check {
        display: none;
    }

    .icons {
        position: absolute;
        right: 5%;
        font-size: 2.8rem;
        color: white;
        cursor: pointer;
        display: none;
    }

    .hero {
        margin-top: 10em;
        min-width: 300px;
        color: rgb(209, 209, 209);
        background-color: #1B1B1B;
    }

    .hero h1 {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
        font-size: clamp(16px, 7vw, 100px);
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .hero p {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: clamp(16px, 2vw, 30px);
        margin-left: 2em;
        margin-right: 2em;
    }

    .hero span {
        position: relative;
    }

    .hero span::before {
        content: "Workflow";
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
        color: #0075FF;
        animation: words 20s infinite;
    }

    .hero span::after {
        content: "";
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        background-color: #1B1B1B;
        border-left: 2px solid #ffffff;
        right: -8px;
        animation: cursor .8s infinite, typing 20s steps(14) infinite;
    }

    @keyframes cursor {
        to {
            border-left: 2px solid #ffffff;
        }
    }

    @keyframes words {

        0%,
        20% {
            content: "Operations";
            color: #0075FF;
            font-family: "DM Sans", sans-serif;
            font-weight: 1000;
        }

        21%,
        40% {
            content: "Systems";
            color: #0075FF;
            font-family: "DM Sans", sans-serif;
            font-weight: 1000;
        }

        41%,
        60% {
            content: "Procedure";
            color: #0075FF;
            font-family: "DM Sans", sans-serif;
            font-weight: 1000;
        }

        61%,
        80% {
            content: "Taskflow";
            color: #0075FF;
            font-family: "DM Sans", sans-serif;
            font-weight: 1000;
        }
    }

    @keyframes typing {

        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95% {
            width: 0;
        }

        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85% {
            width: calc(100% + 8px);
        }
    }

    .video {
        background-color: #1B1B1B;
        text-align: center;
        margin-top: 2em;
    }

    .video iframe {
        width: 1000px;
        max-width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    /* .image img{
        width: 500px;
        max-width: 90%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
        aspect-ratio: 1/1;

    } */


    .learnmore-button a,
    button {
        display: inline-block;
        /* Ensure the anchor behaves like a block-level element */
        height: 50px;
        width: 150px;
        border-radius: 10px;
        background-color: #0075FF;
        border: none;
        font-size: 20px;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #000000;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        text-decoration: none;
        /* Remove underline from anchor */
        text-align: center;
        /* Center text horizontally */
        line-height: 50px;
        /* Center text vertically */
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }

    .learnmore-button button:hover {
        box-shadow: inset 150px 0 0 0 #ffffff;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .about {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .image {
        text-align: center;
        margin-bottom: 1em;
    }

    .image img {
        width: 500px;
        max-width: 90%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
        aspect-ratio: 1/1;
    }

    .box {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgb(65, 65, 65);
        width: 1300px;
        max-width: 95%;
        border-radius: 50px;
        box-shadow: 3px 3px 10px rgb(0, 89, 255);
        padding-left: 0.7em;
        padding-right: 0.7em;
        margin-bottom: 2em;
    }

    .box p {
        font: 12px;
        padding-top: 0.5em;
        padding-left: 0.5em;
        color: #ffffff;
    }

    .text {
        text-align: left;
        font-size: 18px;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        color: aliceblue;
        margin-bottom: 1em;
    }

    .text h1 {
        font-size: 35px;
        font-weight: 700;
        font-family: "DM Sans", sans-serif;
    }

    .text p {
        font-size: clamp(16px, 2vw, 20px);
        font-family: "DM Sans", sans-serif;
    }

    .about_image {
        justify-content: center;
        align-items: center;
    }

    .about_image img {
        border-radius: 20px;
        margin: 1em;
        width: 400px;
    }

    .service {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .service_title h1 {
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
        text-align: center;
        color: #ffffff;
        font-size: 50px;
    }

    .container_service {
        margin: auto;
        height: auto;
        width: 100%;
        text-align: center;
    }

    .container {
        display: inline-block;
        width: 500px;
        max-width: 90%;
        aspect-ratio: 1/1;
        margin: 1em;
        margin-top: 2em;
        height: 250px;
        max-width: 300px;
        box-shadow: 5px 5px 5px black;
        background: #0075FF;
    }

    .container_service h1 {
        font-family: "DM Sans", sans-serif;
        font-size: 25px;
        color: white;
    }

    .container img {
        margin: auto;
        height: 200px;
        width: 200px;
        opacity: 100%;
    }

    .learnmore {
        margin-top: 1em;
    }

    .process {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .process_title h1 {
        font-family: "DM Sans", sans-serif;
        font-size: 50px;
        color: white;
        font-weight: 1000;
    }

    .book_call {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .book_call h1 {
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
        color: #ffffff;
        font-size: 50px;
    }

    .calendly {
        height: 100vh;
        max-width: 100%;
    }

    .calendly-inline-widget {
        margin: auto;
        margin-top: 2em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        min-width: 300px;
    }

    footer {
        background: #424242;
        padding-top: 50px;
    }

    h3 {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
        color: white;
    }

    .footer-content {
        margin-top: 1em;
    }

    .footer-content p {
        margin: auto;
        text-align: center;
        padding: 7px;
        color: white;
    }

    .footer-content ul {
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .list li {
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        position: relative;
        text-decoration: none;
        color: white;
    }

    .list li::before {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #fdfdfd;
        transition-duration: .5s;
    }

    .list li:hover::before {
        width: 70px;
    }

    .list a:hover {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #0075FF;
    }

    .social-icons i:hover {
        color: #0075FF;
    }

    .bottom-bar {
        background: #0075FF;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }

    .bottom-bar p {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }

    .link :hover {
        color: rgb(255, 255, 255);
    }

}

@media only screen and (max-width:1200px) {
    .header {
        position: fixed;
        background-color: #0075FF;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.3rem 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .logo {
        font-size: 2em;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .navbar a {
        font-size: 1.15rem;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 2.5rem;
    }

    #check {
        display: none;
    }

    .icons {
        position: absolute;
        right: 5%;
        font-size: 2.8rem;
        color: white;
        cursor: pointer;
        display: none;
    }

    .list a:hover {
        cursor: pointer;
    }

    header a:hover {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .hero {
        margin-top: 10em;
        min-width: 300px;
        color: white;
        background-color: #1B1B1B;
    }

    .hero h1 {
        color: rgb(209, 209, 209);
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
        font-size: 7vw;
    }

    .hero p {
        text-align: center;
        font-size: 2vw;
        margin-left: 2em;
        margin-right: 2em;
    }

    .hero span {
        position: relative;
    }

    .hero span::before {
        content: "Workflow";
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
        color: #0075FF;
        animation: words 20s infinite;
    }

    .hero span::after {
        content: "";
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        background-color: #1B1B1B;
        border-left: 2px solid #ffffff;
        right: -8px;
        animation: cursor .8s infinite, typing 20s steps(14) infinite;
    }

    @keyframes cursor {
        to {
            border-left: 2px solid #ffffff;
        }
    }

    @keyframes words {

        0%,
        20% {
            content: "Operations";
            color: #0075FF;
        }

        21%,
        40% {
            content: "Systems";
            color: #0075FF;
        }

        41%,
        60% {
            content: "Procedure";
            color: #0075FF;
        }

        61%,
        80% {
            content: "Taskflow";
            color: #0075FF;
        }
    }

    @keyframes typing {

        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95% {
            width: 0;
        }

        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85% {
            width: calc(100% + 8px);
        }
    }

    .video {
        background-color: #1B1B1B;
        text-align: center;
        margin-top: 2em;
    }

    .video iframe {
        width: 500px;
        max-width: 90%;
        height: 100%;
        aspect-ratio: 16/9;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    .learnmore-button {
        margin-top: 1em;
    }

    .learnmore-button a,
    button {
        display: inline-block;
        /* Ensure the anchor behaves like a block-level element */
        height: 50px;
        width: 150px;
        border-radius: 10px;
        background-color: #0075FF;
        border: none;
        font-size: 20px;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #000000;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        text-decoration: none;
        /* Remove underline from anchor */
        text-align: center;
        /* Center text horizontally */
        line-height: 50px;
        /* Center text vertically */
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }

    .learnmore-button button:hover {
        box-shadow: inset 150px 0 0 0 #ffffff;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .about {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .image {
        text-align: center;
        margin-bottom: 1em;
    }

    .image img {
        width: 500px;
        max-width: 90%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
        aspect-ratio: 1/1;
    }

    .box {
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: rgb(65, 65, 65);
        max-width: 95%;
        border-radius: 50px;
        box-shadow: 3px 3px 10px rgb(0, 89, 255);
        text-align: center;
        padding-left: 0.7em;
        padding-right: 0.7em;
        margin-bottom: 2em;
    }

    .box h1 {
        font-size: 5.5vw;
        font-weight: 700;
        font-family: "DM Sans", sans-serif;
    }

    .box p {
        font-size: 2vw;
        font-family: "DM Sans", sans-serif;
    }

    .text {
        margin-bottom: 1em;
    }

    .about_image img {
        width: 500px;
        max-width: 90%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
        aspect-ratio: 1/1;
    }

    .service {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .service_title h1 {
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
    }

    .process_title h1 {
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
    }

    .container_service {
        margin: auto;
        height: auto;
        width: 100%;
        text-align: center;
    }

    .container {
        position: sticky;
        top: 100px;
        /* Adjust this value as needed */
        width: 500px;
        max-width: 90%;
        aspect-ratio: 1/1;
        margin: auto;
        margin-top: 2em;
        height: 250px;
        max-width: 300px;
        box-shadow: 5px 5px 5px black;
        background: #0075FF;
    }

    .container_service h1 {
        font-size: 25px;
        color: white;
    }


    .container img {
        margin: auto;
        height: 200px;
        width: 200px;
        opacity: 100%;
    }

    .learnmore {
        margin-top: 1em;
    }

    .process {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .book_call {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .book_call h1 {
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
    }

    .calendly {
        height: 100vh;
        max-width: 100%;
    }

    .calendly-inline-widget {
        margin: auto;
        margin-top: 2em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        min-width: 300px;
    }

    footer {
        background: #424242;
        padding-top: 50px;
    }

    h3 {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
        color: white;
    }

    .footer-content {
        margin-top: 1em;
    }

    .footer-content p {
        margin: auto;
        text-align: center;
        padding: 7px;
        color: white;
    }

    .footer-content ul {
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .list li {
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        position: relative;
        text-decoration: none;
        color: white;
    }

    .list li::before {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #fdfdfd;
        transition-duration: .5s;
    }

    .list li:hover::before {
        width: 70px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #0075FF;
    }

    .social-icons i:hover {
        color: #0075FF;
    }

    .bottom-bar {
        background: #0075FF;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }

    .bottom-bar p {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }

    .link :hover {
        color: rgb(255, 255, 255);
    }
}

/*breakpoint*/
@media only screen and (max-width:992px) {
    .header {
        padding: 1.3rem 5%;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background: #0075FF;
        transition: 0.8s ease;
    }

    #check:checked~.navbar {
        height: 12.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.8s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.15s * var(--i));
    }

    .hero {
        margin-top: 10em;
        min-width: 300px;
        color: white;
        background-color: #1B1B1B;
    }

    .hero h1 {
        text-align: center;
        font-size: 6vw;
    }

    .hero p {
        text-align: center;
        font-size: 3.5vw;
        margin-left: 4%;
        margin-right: 4%;
    }

    .hero span {
        position: relative;
    }

    .hero span::before {
        content: "Workflow";
        color: #0075FF;
        animation: words 20s infinite;
    }

    .hero span::after {
        content: "";
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        background-color: #1B1B1B;
        border-left: 2px solid #ffffff;
        right: -8px;
        animation: cursor .8s infinite, typing 20s steps(14) infinite;
    }

    @keyframes cursor {
        to {
            border-left: 2px solid #ffffff;
        }
    }

    @keyframes words {

        0%,
        20% {
            content: "Operations";
            color: #0075FF;
        }

        21%,
        40% {
            content: "Systems";
            color: #0075FF;
        }

        41%,
        60% {
            content: "Procedure";
            color: #0075FF;
        }

        61%,
        80% {
            content: "Taskflow";
            color: #0075FF;
        }
    }

    @keyframes typing {

        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95% {
            width: 0;
        }

        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85% {
            width: calc(100% + 8px);
        }
    }

    .video {
        background-color: #1B1B1B;
        text-align: center;
        margin-top: 2em;
    }

    .video iframe {
        width: 500px;
        max-width: 90%;
        height: 100%;
        aspect-ratio: 16/9;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    /* .image img{
        width: 500px;
        max-width: 90%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
        aspect-ratio: 1/1;

    } */


    .learnmore-button a,
    button {
        display: inline-block;
        /* Ensure the anchor behaves like a block-level element */
        height: 50px;
        width: 150px;
        border-radius: 10px;
        background-color: #0075FF;
        border: none;
        font-size: 20px;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #000000;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }

    .learnmore-button button:hover {
        box-shadow: inset 150px 0 0 0 #ffffff;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .about {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .image {
        text-align: center;
        margin-bottom: 1em;
    }

    .image img {
        width: 500px;
        max-width: 90%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
        aspect-ratio: 1/1;
    }

    .box {
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: rgb(65, 65, 65);
        max-width: 95%;
        border-radius: 50px;
        box-shadow: 3px 3px 10px rgb(0, 89, 255);
        text-align: center;
        padding-left: 0.7em;
        padding-right: 0.7em;
        margin-bottom: 2em;
    }

    .box h1 {
        font-size: 6.5vw;
    }

    .box p {
        font-size: 3.5vw;
    }

    .text {
        margin-bottom: 1em;
    }

    .about_image img {
        width: 500px;
        max-width: 90%;
        height: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
        aspect-ratio: 1/1;
    }

    .service {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .container_service {
        margin: auto;
        height: auto;
        width: 100%;
        text-align: center;
    }

    .container {
        position: sticky;
        top: 100px;
        /* Adjust this value as needed */
        width: 500px;
        max-width: 90%;
        aspect-ratio: 1/1;
        margin: auto;
        margin-top: 2em;
        height: 250px;
        max-width: 300px;
        box-shadow: 5px 5px 5px black;
        background: #0075FF;
    }

    .container_service h1 {
        font-size: 25px;
        color: white;
    }

    .container img {
        margin: auto;
        height: 200px;
        width: 200px;
        opacity: 100%;
    }

    .learnmore {
        margin-top: 1em;
    }

    .process {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .book_call {
        background-color: #1B1B1B;
        color: white;
        text-align: center;
        margin-top: 2em;
        min-width: 300px;
    }

    .calendly {
        height: 50vh;
        max-width: 100%;
        margin-bottom: 2em;
    }

    .calendly-inline-widget {
        margin: auto;
        margin-top: 2em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        min-width: 300px;
    }

    footer {
        background: #424242;
        padding-top: 50px;
    }

    h3 {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
        color: white;
    }

    .footer-content {
        margin-top: 1em;
    }

    .footer-content p {
        margin: auto;
        text-align: center;
        padding: 7px;
        color: white;
    }

    .footer-content ul {
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .list li {
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        position: relative;
        text-decoration: none;
        color: white;
    }

    .list li::before {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #fdfdfd;
        transition-duration: .5s;
    }

    .list li:hover::before {
        width: 70px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #0075FF;
    }

    .social-icons i:hover {
        color: #0075FF;
    }

    .bottom-bar {
        background: #0075FF;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }

    .bottom-bar p {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }

    .link :hover {
        color: rgb(255, 255, 255);
    }

}
